<%= content_for :title, "Supported Buying Admin" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= I18n.t("support.header") %></h1>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case Ref#</th>
          <th scope="col" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header">Opened</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">Example Proc Ops Agent</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
