<% if recipients.present? %>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header"><%= recipient_type %></th>
    <td class="govuk-table__cell"><%= recipients %></td>
  </tr>
<% end %>
