<%= render layout: "support/layouts/case", locals: { tab: "messages" } do %>
  <%= link_to I18n.t("support.case.label.message_threads.back"), support_case_message_threads_path(back_to: Base64.encode64(@back_url)), class: "govuk-back-link pull-up" %>

  <h3 class="govuk-heading-m"><%= I18n.t("support.case.label.message_threads.templated_messages") %></h3>

  <% @current_case.templated_messages.each do |message|%>
    <%= render "support/cases/message_threads/message", truncated_message: false, message: message, current_case: @current_case, show_recap: false %>
  <% end %>
<% end %>
