<div id="stats-by-category">

	<p class="govuk-body">
		<%= raw I18n.t("support.case_statistics.tabs.by_category.duplication_disclaimer") %>
  </p>

	<%= render partial: "support/case_statistics/by_triage" %>

	<%= render partial: "support/case_statistics/by_category" %>

</div>