<p class="govuk-body">
  <%= I18n.t("faf.user_query.hint") %>
</p>

<p class="govuk-body">
  <%= I18n.t("faf.user_query.hint_list_start") %>
</p>

<ul class="govuk-list govuk-list--bullet">
  <% for bullet in I18n.t("faf.user_query.hint_bullets") %>
    <li><%= bullet %></li>
  <% end %>
</ul>
