<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="govuk-heading-m">
      <%= govuk_link_to category.title, category_path(category), class: "govuk-link chevron-card__link" %>
    </h3>
    <p class="govuk-body-m chevron-card__description govuk-!-margin-top-2">
      <%= category.description %>
    </p>
  </div>
</li>
