<%= content_for :title, "Energy Bill Relief Scheme" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Energy Bill Relief Scheme</h1>

    <p class="govuk-body">The Energy bill relief scheme (EBRS) is a discount on the wholesale price of gas and
      electricity for non-domestic customers like schools.</p>
    <p class="govuk-body">It will fix prices for 6 months from 1 October 2022.</p>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        The discount is automatically applied to eligible bills. If you get a message asking for your bank details, this
        could be a scam. <a class="govuk-link" href="https://www.gov.uk/report-suspicious-emails-websites-phishing">You can report messages
          you think are suspicious.</a>
      </strong>
    </div>

    <p class="govuk-body">The savings for energy used in October will be seen in your October bills, which would usually
      be received in November.</p>

    <h2 class="govuk-heading-l">What it means for your contracts or tariffs</h2>
    <h2 class="govuk-heading-m">Fixed contracts</h2>
    <h3 class="govuk-heading-s">If you’ve got an existing fixed price contract or tariff</h3>

    <p class="govuk-body">If your fixed price contract or tariff was agreed on or after 1 December 2021, you will get
      support if the price you’re paying is above the government supported price set out below.</p>
    <p class="govuk-body">The discount is for the wholesale price of gas and electricity. Other costs that are included
      in your bill, like administration fees or taxes, are not affected and will stay the same. These are known as
      non-commodity costs.</p>
    <p class="govuk-body">The government supported price will be set at:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>21.1 pence per kilowatt hour (kWh) for electricity, plus non- energy commodity costs at circa 10 to 15 pence per kWh depending on meter charges</li>
      <li>7.5 pence per kWh for gas, plus non-energy commodity costs at circa 0.5 to 1 pence per kWh depending on meter charges</li>
    </ul>

    <p class="govuk-body">Your per unit energy costs will automatically be reduced by the relevant pence per kWh for the
      duration of the scheme. The company supplying your energy will apply this reduction.</p>
    <p class="govuk-body">If the price of your fixed contract or tariff is below the government supported price that has
      been set out above, then you will not be eligible for support.</p>

    <h3 class="govuk-heading-s">If you’re about to sign a new fixed price contract</h3>
    <p class="govuk-body">The relevant price reduction will be automatically applied to your bill by your supplier.</p>

    <h3 class="govuk-heading-s">If you signed your fixed contract before 1 December 2021</h3>
    <p class="govuk-body">If you signed your fixed rate contract before 1 December 2021, you will not be eligible for
      support under the scheme.</p>

    <h2 class="govuk-heading-m">Variable, deemed and all other contracts</h2>
    <p class="govuk-body">For these types of contracts, the discount will reflect the difference between the government
      supported price set out below and relevant wholesale price.</p>
    <p class="govuk-body">The government supported price will be set at:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>34.5 pence per kWh for electricity, plus non-energy commodity costs at circa 10 to 15 pence per kWh depending on meter charges</li>
      <li>9.1 pence per kWh for gas, plus non-energy commodity costs at circa 0.5 to 1 pence per kWh depending on meter charges</li>
    </ul>

    <h2 class="govuk-heading-m">If you’re out of contract</h2>
    <p class="govuk-body"><a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/">Use the Find a framework tool</a> for DfE’s recommended energy frameworks.</p>

    <h2 class="govuk-heading-m">If you get energy through a landlord/heat network/energy service company</h2>
    <p class="govuk-body">The government expects businesses and other organisations to pass on the benefits under this
      scheme to the end user in a reasonable and proportionate way.</p>

    <h2 class="govuk-heading-m">Reviewing the scheme</h2>
    <p class="govuk-body">The government will publish a review into the operation of the scheme in 3 months’ time, to
      inform decisions on future support after March 2023. The review will focus on identifying the most vulnerable
      non-domestic customers and how the government will continue assisting them with energy costs. These are likely to
      be those who are least able to adjust, for example by reducing energy usage or increasing energy efficiency.</p>

    <h2 class="govuk-heading-m">Get support with your procurement</h2>
    <p class="govuk-body">Use the <a class="govuk-link" href="<%= framework_requests_path(referred_by: Base64.encode64("GHBS Energy bill relief scheme page")) %>">Get help buying for schools service</a>
      to get help and support from our procurement experts. We can answer questions about buying energy services, help you find suitable frameworks, or help with running your procurement.</p>

  </div>
</div>
