<%= content_for :title, "What you can do to reduce energy costs" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">What you can do to reduce energy costs</h1>

    <h2 class="govuk-heading-m">Energy Bills Discount Scheme (EBDS)</h2>
    <p class="govuk-body">The <a class="govuk-link" href="https://www.gov.uk/guidance/energy-bills-discount-scheme">Energy Bills Discount Scheme (EBDS)</a> gives schools a discount on gas and electricity where unit prices are above a certain threshold. Other costs like administration fees or taxes are not affected and will stay the same.</p>
    <p class="govuk-body">You do not have to apply for the scheme, <strong>the discount will be automatically applied</strong> to your bills.</p>
    <p class="govuk-body">The EBDS is available to schools until 31 March 2024, it replaces the <a class="govuk-link" href="https://www.gov.uk/guidance/energy-bill-relief-scheme-help-for-businesses-and-other-non-domestic-customers">Energy bill relief scheme (EBRS)</a> which has ended.</p>

    <h2 class="govuk-heading-m">Help for schools not connected to the gas grid</h2>
    <p class="govuk-body">Schools that are off the gas grid and use alternative fuels can get a fixed payment of £150. There are also ‘top-up’ payments for large users of heating oil based on usage. See how to apply for <a class="govuk-link" href="https://www.gov.uk/guidance/apply-for-energy-bill-support-for-non-domestic-properties">energy bill support for non-domestic properties</a>.</p>

    <h2 class="govuk-heading-m">Don’t let your energy contract expire</h2>
    <p class="govuk-body">It’s important that you do not let your energy contract expire. Out of contract costs can be significantly higher and have less favourable terms and conditions.</p>

    <h2 class="govuk-heading-m">Renewing your contract</h2>
    <p class="govuk-body">If your renewal is due in the next three months you could try getting a short-term contract for 3, 6 or 12 months. Shorter term contracts mean you have more flexibility to change your approach.</p>

    <h2 class="govuk-heading-m">Be more energy efficient</h2>
    <p class="govuk-body">
      Read guidance about <a class="govuk-link" href="https://www.gov.uk/government/publications/energy-efficiency-guidance-for-the-school-and-fe-college-estate/energy-efficiency-guidance-for-the-school-and-further-education-college-estate">how to improve the energy efficiency of your school</a> or trying using a <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/find/type/on-going/services-categories/energy-efficiency/energy-efficiency-categories">DfE-approved energy efficiency framework</a>.
    </p>

    <h2 class="govuk-heading-m">Get support with your procurement</h2>
    <p class="govuk-body">Use the <a class="govuk-link" href="<%= framework_requests_path(referred_by: Base64.encode64("GHBS Rising energy prices page")) %>">Get help buying for schools service</a> to get help and support from our procurement experts. We can answer questions about buying energy services, help you find suitable frameworks, or help with running your procurement.</p>
  </div>
</div>
