<%= content_for :title, "What you can do about rising energy prices" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">What you can do about rising energy prices</h1>

    <h2 class="govuk-heading-m">Energy bill relief scheme</h2>
    <p class="govuk-body"><a class="govuk-link" href="/pages/energy-bill-relief-scheme">The Energy bill relief scheme (EBRS)</a> is a discount on the wholesale price of gas and electricity for non-domestic customers like schools. It will fix prices for 6 months from 1 October 2022. Other costs that are included in your bill, like administration fees or taxes, are not affected and will stay the same.</p>
    <p class="govuk-body">You do not have to apply for the scheme, <strong>the discount will be automatically applied</strong> to your bills.</p>

    <h2 class="govuk-heading-m">Don’t let your energy contract expire</h2>
    <p class="govuk-body">It’s important that you do not let your energy contract expire. Out of contract costs can be significantly higher and have less favourable terms and conditions.</p>

    <h2 class="govuk-heading-m">Renewing your contract</h2>
    <p class="govuk-body">If your renewal is due in the next three months you could try getting a short-term contract for 3, 6 or 12 months. Shorter term contracts mean you have more flexibility to change your approach.</p>

    <h2 class="govuk-heading-m">Be more energy efficient</h2>
    <p class="govuk-body">
      Read guidance about <a class="govuk-link" href="https://www.gov.uk/government/publications/energy-efficiency-guidance-for-the-school-and-fe-college-estate/energy-efficiency-guidance-for-the-school-and-further-education-college-estate">how to improve the energy efficiency of your school</a> or trying using a <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/find/type/on-going/services-categories/energy-efficiency/energy-efficiency-categories">DfE-approved energy efficiency framework</a>.
    </p>

    <h2 class="govuk-heading-m">Get support with your procurement</h2>
    <p class="govuk-body">Use the <a class="govuk-link" href="<%= framework_requests_path(referred_by: Base64.encode64("GHBS Rising energy prices page")) %>">Get help buying for schools service</a> to get help and support from our procurement experts. We can answer questions about buying energy services, help you find suitable frameworks, or help with running your procurement.</p>
  </div>
</div>
