<tr class="govuk-table__row">
  <th class="govuk-body govuk-!-font-weight-bold govuk-table__header">
    <%= I18n.t("support.interaction.type.#{interaction.event_type}") %>
  </th>

  <td class="govuk-table__cell">
    <% if interaction.support_request? %>
      <%= render "support/cases/case_history/support_request_body", interaction: interaction %>
    <% else %>
      <%= interaction.body %>
    <% end %>
    <!--  DONT FORGET MEE Hub migration stuff -->
    <!--% interaction.additional_data.each do |key, value|  %>
      <--div class="govuk-summary-list__row">
        <--dt class="govuk-summary-list__key">
          <--%= I18n.t("support.case_hub_migration.label.#{key}", optional: nil) %>
        <--/dt>
        <--dd class="govuk-summary-list__value">
          <--%= value.humanize %>
        <--/dd>
      <--/div>
    <---% end -->
  </td>

  <td class="govuk-table__cell">
    <%= interaction.created_at %>
  </td>
</tr>
