<div class="govuk-warning-text govuk-!-display-none" data-email-templates-edit-target="variableWarning">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    <%= I18n.t("support.management.email_templates.common.variable_warning").html_safe %>
  </strong>
</div>
