<div class="govuk-error-summary govuk-!-display-none" data-controller="error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title" data-error-summary-target="title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body" data-error-summary-target="body" aria-live="polite">
    </div>
  </div>
</div>