<div class="upload-row progress-status-container govuk-!-display-none">
  <p class="govuk-body-s progress-status govuk-!-display-none" data-dz-errormessage></p>
  <div class="upload-progress-container govuk-!-display-none">
    <div data-dz-uploadprogress class="upload-progress" aria-valuenow="0"></div>
  </div>
</div>