version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: daily
    time: "07:00"
    timezone: Europe/London
  open-pull-requests-limit: 5
  versioning-strategy: auto
  target-branch: main
  labels:
    - "dependencies"
    - "bundler"

- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "07:00"
    timezone: Europe/London
  open-pull-requests-limit: 5
  versioning-strategy: auto
  target-branch: main
  labels:
    - "dependencies"
    - "npm"

