version: '3.8'
services:
  test:
    build:
      context: .
      target: test
      args:
        RAILS_ENV: 'test'
      cache_from:
        - app_test:latest
    image: app_test
    command: bash -c "wait-for-it test-redis:6379 --strict --timeout=60 -- bundle exec rake"
    ports:
      - '3000:3000'
    depends_on:
      - test-db
      - test-redis
    env_file:
      - .env.test
    environment:
      DATABASE_URL: postgres://postgres:password@test-db:5432/buy-for-your-school-test
      REDIS_URL: redis://test-redis:6379
      DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL: 'true'
      CI: 'true'
    networks:
      - test

  test-db:
    image: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_HOST_AUTH_METHOD: trust
    networks:
      - test

  test-redis:
    image: redis
    volumes:
      - redis-data:/data
    networks:
      - test

networks:
  test:
volumes:
  db-data:
  redis-data:
