/* Error: There is no module with the namespace "govuk".
 *     ,
 * 535 |   background: govuk.$govuk-brand-colour;
 *     |               ^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   app/assets/stylesheets/fabs.sass.scss 535:15  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "govuk".\a     \2577 \a 535 \2502    background: govuk.$govuk-brand-colour;\a     \2502                ^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   app/assets/stylesheets/fabs.sass.scss 535:15  root stylesheet';
}
