<%= content_for :title, I18n.t("faf.bill_uploads.header.initial") %>

<h1 class="govuk-heading-l"><%= I18n.t("faf.bill_uploads.header.initial") %></h1>

<%= render "framework_requests/common_form_fields", form: form %>
