<%= form.hidden_field :dsi %>
<span class="govuk-caption-l">
  step 4
</span>
<h1 class="govuk-heading-l">
  Step 4
</h1>

<p class="govuk-body">
  <%= form.submit I18n.t("generic.button.next"), class: "govuk-button", role: "button" %>
</p>