<span class="govuk-caption-l">
  Step 4
</span>
<h1 class="govuk-heading-l">
  Step 4
</h1>
<%= form.hidden_field :dsi, value: form.object.dsi %>
<%= form.hidden_field :school_urn, value: form.object.school_urn %>
<%= form.submit I18n.t("generic.button.next"), class: "govuk-button", role: "button" %>
<br>
