<%= content_for :title, "#{@form.errors.any? ? 'Error: ' : ''}#{I18n.t("energy.electricity_meter_type.page_title")} - #{I18n.t('energy.service_name')}" %>


<p class="govuk-caption-l"><%= @organisation_detail.name %>: <%= I18n.t("energy.electricity_meter_type.title") %></p>

<%= render "form" %>