<%= content_for :title, I18n.t("request.procurement_amount.heading") %>

<%= render "framework_requests/common_form_fields", form: form %>

<span class="govuk-caption-l"><%= I18n.t("request.procurement_amount.caption") %></span>

<%= form.govuk_text_field :procurement_amount, width: 5,
    label: { text: I18n.t("request.procurement_amount.heading"), tag: :h1, class: "govuk-label--l" },
    hint: -> { render "form_hint" },
    prefix_text: "£" %>
