<% true_false_or_empty = -> (value) { value.nil? ? "empty" : value } %>

<%= render ActivityLog::HistoryItemComponent.new(title:, by:, date:) do |component| %>
  <% component.with_description do %>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          See details
        </span>
      </summary>
      <div class="govuk-details__text">
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <% presentable_changes.each do |changes| %>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><%= changes.field.humanize %></th>
                <td class="govuk-table__cell">
                  <% unless @activity_log_item.activity.event == "create" %>
                    <%= true_false_or_empty[changes.from] %>
                    <span class="activity-log-change-arrow">â”</span>
                  <% end %>

                  <%= true_false_or_empty[changes.to] %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </details>
  <% end %>
<% end %>
