<%= render partial: "support/cases/components/case_header", locals: { current_case: @current_case } %>
<h1 class="govuk-heading-l"><%= I18n.t("support.cases.upload_documents.header") %></h1>
<p class="govuk-body-m govuk-!-static-margin-bottom-8"><%= I18n.t("support.cases.upload_documents.hint") %></p>

<%= render "form" %>