<%= render "frameworks/activity_log_items/history", activity_log_items: @activity_log_items %>

<div class="govuk-!-margin-top-2">
  <%= render "components/pagination", records: @activity_log_items, page_param_name: 'activity_log_page' %>
</div>

