---
RACK_ENV: production
RAILS_ENV: production
SECRET_KEY_BASE: secret # rake secret
RAILS_LOG_TO_STDOUT: enabled
RAILS_SERVE_STATIC_FILES: enabled

APPLICATION_URL:

# Monitoring
ROLLBAR_ENV: research-paas
ROLLBAR_ACCESS_TOKEN:

# Contentful API
CONTENTFUL_DELIVERY_TOKEN:
CONTENTFUL_PREVIEW_TOKEN:
CONTENTFUL_ENTRY_CACHING:
CONTENTFUL_ENTRY_CACHING_TTL:
CONTENTFUL_ENVIRONMENT:
CONTENTFUL_SPACE:

# DfE Sign-in (SSO)
DFE_SIGN_IN_ENABLED:
DFE_SIGN_IN_IDENTIFIER:
DFE_SIGN_IN_REDIRECT_URL:
DFE_SIGN_IN_SECRET:

# Support Email
SUPPORT_EMAIL:
NOTIFY_EMAIL_REPLY_TO_ID:
