      
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><%= I18n.t("support.cases.upload_documents.file_uploaded") %></h3>
      </div>
   </div>
   
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-display-none" data-case-files-target="fileList">
          <div data-case-files-target="filePreview">
            <div data-case-files-target="previewTemplate">
              <div class="case-files__file">
                <span class="case-files__file-name" data-dz-name></span>
                <div class="case-files__file-actions">
                  <span class="case-files__file-remove">
                    <a class="govuk-link govuk-link--no-visited-state" href="#" data-dz-remove><%= I18n.t("generic.button.delete") %></a>
                  </span>
                </div>
                <div class="upload-row progress-status-container govuk-!-display-none">
                  <p class="govuk-body-s progress-status govuk-!-display-none" data-dz-errormessage></p>
                  <div class="upload-progress-container govuk-!-display-none">
                    <div data-dz-uploadprogress class="upload-progress" aria-valuenow="0"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <% @uploaded_handover_packs.each do |handover_pack| %>
            <div class="case-files__file">
                <span class="case-files__file-name">
                    <%= link_to handover_pack.file_name, support_document_download_path(@current_case, document_type: handover_pack.class, document_id: handover_pack.id), method: :put, class: "govuk-link" %>
                </span>
                  <div class="case-files__file-actions">
                    <span class="case-files__file-remove">
                       <%= link_to I18n.t("generic.button.delete"),
                          support_case_upload_contract_handover_path(case_id: @current_case, document_id: handover_pack),
                          method: :delete,
                          class: "govuk-link govuk-link--no-visited-state" %>
                    </span>
                  </div>
            </div>
          <% end %>
      </div>
   </div>