<% if solutions.any? %>
  <div class="gem-c-cards__list gem-c-cards__list--one-column">
    <ul class="govuk-list">
      <% solutions.each do |solution| %>
        <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h3 class="gem-c-cards__sub-heading govuk-heading-s">
              <%= govuk_link_to solution.title, category_solution_path(slug: solution.slug, category_slug: solution.primary_category&.slug) %>
            </h3>
            <p class="govuk-body gem-c-cards__description">
              <%= solution.description %>
            </p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <p class="govuk-body">No buying options found.</p>
<% end %>
