<% content_for :title, "Buy for your school | Notifications" %>

<%= turbo_stream_from current_agent, "notifications" %>

<%= turbo_frame_tag "notifications-table" do %>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--l">Notifications</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Notification</th>
        <th scope="col" class="govuk-table__header notification-fixed-header">Received</th>
        <th scope="col" class="govuk-table__header notification-fixed-header">Action</th>
      </tr>
    </thead>
    <tbody id="notifications" class="govuk-table__body">
      <%= render partial: "support/notifications/notification", collection: @notifications, as: :notification %>
    </tbody>
  </table>
<% end %>

<%= render "components/pagination", records: @notifications %>
