<div class="flex-gap-15px">
  <% unless email.is_read? %>
    <%= render "support/cases/emails/unread_badge" %>
  <% end %>

  <%= link_to I18n.t("support.case.label.messages.table.#{email.is_read? ? "mark_as_unread" : "mark_as_read"}"),
        support_email_read_status_path(email, status: email.is_read? ? "unread" : "read"),
        method: :patch,
        class: "govuk-link govuk-link--no-underline govuk-!-font-weight-bold" %>

  <% if email.attachments.any? %>
    <%= link_to I18n.t("support.case.label.messages.table.save_attachments"), new_support_email_save_attachments_path(email), class: "govuk-link govuk-link--no-underline govuk-!-font-weight-bold" %>
  <% end %>
</div>

<hr />
