<p>
<br />
{{caseworker_full_name}}<br />
Energy for Schools Service Team<br />
</p>

<p>
<b>Energy for Schools disclaimer</b>
<br/>
We’ll aim to respond to your email within 5 working days.
<br />
<br />
The Energy for Schools online service is currently only available for individual state-funded schools, like local authority-maintained schools and single academy trusts. 
<br />
<br />
Multi-academy trusts (MATs) can join the contract by filling in the <a href="https://submit.forms.service.gov.uk/form/7281/register-your-interest-in-energy-for-schools/27000" target="_blank" rel="noopener noreferrer">Register your interest form</a> and completing the process offline. 
<br />
<br />
If you want to join the next V30 basket in April 2026, you need to complete the online Energy for Schools form by 11 September 2025. You’ll be placed on an interim rate if your current contract expires before 1 April 2026.  
<br />
<br />
Please note that in using the Energy for Schools service, you must still comply with the Department for Educations guidance, including but not limited to the Academy Trust Handbook, ESFA Funding Agreement and the Schemes for Financing Local Authority Maintained schools. 
</p>



