<br />
<p>
Regards<br />
{{caseworker_full_name}}<br />
Procurement Specialist<br />
Get help buying for schools<br />
</p>

<p>
Please reply to this email within 15 working days or by the date we agreed.<br />
We'll need to adjust any timelines we've given you if you're not able to reply on time.<br />
We'll close the case if we don't hear back from you. You can reopen the case at any time by replying to this email.<br />
</p>

<p>
<b><i>GET HELP BUYING FOR SCHOOLS SERVICE DISCLAIMER</i></b><br />
<br />
<b><i>Please note that the expertise and advice being provided by the Service shall not in any way affect your obligations to comply with all relevant procurement law and the Department’s guidance, including but not limited to the Public Contracts Regulations, Academy Trust Handbook, ESFA Funding Agreement and the Schemes for Financing Local Authority Maintained schools.</i></b><br />
<br />
<b><i>For the avoidance of doubt, the Department shall bear no liability as a result of using our Service.</i></b>
</p>