<br />
<p>
Regards<br />
{{caseworker_full_name}}<br />
Procurement Specialist<br />
Get help buying for schools<br />
</p>

<p>
Please reply to this email within 15 working days or by the date we agreed.<br />
We'll need to adjust any timelines we've given you if you're not able to reply on time.<br />
We'll close the case if we don't hear back from you. You can reopen the case at any time by replying to this email.<br />
</p>