<% if email.attachments.any? %>
  <div class="govuk-summary-list__row email-attachments">
    <dt class="govuk-summary-list__key">
      <%= I18n.t("support.emails.show.attachments") %>
    </dt>
    <dd class="govuk-summary-list__value">
      <% email.attachments.each do |attachment| %>
        <%= link_to attachment.file_name, support_document_download_path(attachment, type: attachment.class), class: "govuk-link", target: "_blank", rel: "noreferrer noopener" %><br />
      <% end %>
    </dd>
  </div>
<% end %>
