<p>{{organisation_name}} has asked you to participate in the evaluation process for {{sub_category}} procurement. </p>

<p>Follow the steps below to complete this evaluation:</p>

<p><b>1. Complete the declaration of interest form</b></p>
<p>If you do not have a conflict of interest with any of the following suppliers, then sign the attached declaration and reply to this email with the completed declaration as an attachment.</p>

<ul>
    <li>[SUPPLIER 1]</li>

    <li>[SUPPLIER 2]</li>

    <li>[SUPPLIER 3]</li>
</ul>


<p><b>What happens if I identify a conflict of interest?</b></p>

<p>In some situations, it is possible to mitigate a conflict of interest. When this is not possible a new evaluator can be selected. </p>

<p>Reply to this email if you have a conflict of interest so the procurement is not delayed.</p>

<p><b>2. Watch the evaluation training video (10 minutes)</b></p>
The video provides necessary knowledge for scoring and justifying your assessments. Evaluators are required to be appropriately trained to evaluate tenders in a fair, transparent, and compliant manner.  
<br />
<p>You must watch the evaluation training video before starting the evaluation process. The video link is: <a href="https://youtu.be/cbL65QlOas4?si=3fA-vKVPRGn9TEJ_">https://youtu.be/cbL65QlOas4?si=3fA-vKVPRGn9TEJ_</a> </p>
<br />

<p><b>3. Sign in to complete the evaluation</b></p>
<p>Click the {{unique_case_specific_link}} to complete your evaluation with your DfE Sign-in account. If you do not have a DfE Sign-in account, you will need to create one. </p>
<br />

<p><b>4. Complete the evaluation</b></p>
<p>Complete the tasks required by {{evaluation_due_date}} or the procurement could be delayed.</p>

<br />

<p>Help completing the evaluation</p>

<p>Bids must be evaluated using the pre-populated evaluation sheet with scores allocated using the scoring methodology and reasoning shared. Bids must be evaluated independently of each other and other evaluators. Insufficient justification for scores will result in evaluations being returned, which could delay the procurement.</p>

<p>Reply to this email if you have any questions or need help.</p>

<br />

<p><b> 5. Attend the moderation meeting</b></p>

<p>The moderation meeting is scheduled for [ENTER DAY, DATE AND TIME]</p>

<br>

<p> {{caseworker_full_name}} <br>
Procurement Specialist <br>
Get help buying for schools
</p>

<p>Reply to this email within 15 working days or by the date agreed. Late replies can delay the procurement process.</p>

<p>We'll close the case if we don't hear back from you. You can reopen the case at any time by replying to this email.</p>

<br>

<p><b><i>GET HELP BUYING FOR SCHOOLS SERVICE DISCLAIMER</i></b></p>

<p><b><i>Please note that the expertise and advice being provided by the Service shall not in any way affect your obligations to comply with all relevant procurement law and the Department's guidance, including but not limited to the Public Contracts Regulations, Academy Trust Handbook, ESFA Funding Agreement and the Schemes for Financing Local Authority Maintained schools.</i></b></p> 

<p><b><i>For the avoidance of doubt, the Department shall bear no liability as a result of using our Service.</i></b></p>