<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with formatting
    </span>
  </summary>

  <div class="govuk-details__text">
    <h2 class="heading-medium">Markdown</h2>
    <p class="bottom-gutter-1-3">
      The case management system uses a simple code called markdown. Using this makes all emails look the same.
    </p>

    <h3 class="heading-small">Headings</h3>
    <p class="bottom-gutter-1-3">
      Use a hash to make a heading on a new line. The line above should be blank:
    </p>
    <div class="govuk-!-margin-bottom-6">
      <div class="govuk-inset-text govuk-!-margin-top-0">
        #This is a heading
      </div>
    </div>

    <h3 class="heading-small">Bullet points</h3>
    <p class="bottom-gutter-1-3">
      Use asterixes to make bullet points. The line above <b> * point 1 </b> should be blank:
    </p>
    <div class="govuk-!-margin-bottom-6">
      <div class="govuk-inset-text govuk-!-margin-top-0">
        * point 1<br> * point 2<br> * point 3<br>
      </div>
    </div>

    <h3 class="heading-small">Numbered lists</h3>
    <p class="bottom-gutter-1-3">
      Use a number followed by a full stop to make numbered lists. The line above <b> * 1. Add numbers </b> should be blank:
    </p>
    <div class="govuk-!-margin-bottom-6">
      <div class="govuk-inset-text govuk-!-margin-top-0">
        1. Add numbers<br>2. Check numbers<br>3. Love numbers<br>
      </div>
    </div>

    <h3 class="heading-medium">Links and URLs</h2>
    <p class="bottom-gutter-1-3">
      Use the square and round brackets to make a link:
    </p>
    <div class="govuk-inset-text govuk-!-margin-top-0">
      [UK Parliament](http://www.parliament.uk).
    </div>

    <h3 class="heading-medium">Email addresses</h2>
    <p class="bottom-gutter-1-3">
      Email addresses will automatically format as a link:
    </p>
    <div class="govuk-inset-text govuk-!-margin-top-0">
      address@example.com
    </div>

    <h3 class="heading-small">Inset text</h3>
    <p class="bottom-gutter-1-3">
      To add inset text use a caret. The line above should be blank:
    </p>
    <div class="govuk-!-margin-bottom-6">
      <div class="govuk-inset-text govuk-!-margin-top-0">
        ^This is useful information that's worth knowing.
      </div>
    </div>

    <p class="bottom-gutter-1-3">
      To add a horizontal line, use three dashes:
    </p>
    <div class="govuk-inset-text govuk-!-margin-top-0">
      <p class="govuk-body">First paragraph</p>
      <p class="govuk-body" style="letter-spacing: 1px;">---</p>
      <p class="govuk-body">Second paragraph</p>
    </div>
  </div>
</details>
