<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with formatting
    </span>
  </summary>

  <div class="govuk-details__text">
    <h2 class="heading-medium">Formatting</h2>
    <p class="bottom-gutter-1-3">
      To put a title in your template, use a hash:
    </p>
    <div class="govuk-!-margin-bottom-6">
      <div class="govuk-inset-text govuk-!-margin-top-0">
        # This is a title
      </div>
    </div>

    <p class="bottom-gutter-1-3">
      To make bullet points, use asterisks:
    </p>
    <div class="govuk-!-margin-bottom-6">
      <div class="govuk-inset-text govuk-!-margin-top-0">
        * point 1<br> * point 2<br> * point 3<br>
      </div>
    </div>

    <p class="bottom-gutter-1-3">
      To add inset text, use a caret:
    </p>
    <div class="govuk-!-margin-bottom-6">
      <div class="govuk-inset-text govuk-!-margin-top-0">
        ^ You must tell us if your circumstances change
      </div>
    </div>

    <p class="bottom-gutter-1-3">
      To add a horizontal line, use three dashes:
    </p>
    <div class="govuk-inset-text govuk-!-margin-top-0">
      <p class="govuk-body">First paragraph</p>
      <p class="govuk-body" style="letter-spacing: 1px;">---</p>
      <p class="govuk-body">Second paragraph</p>
    </div>

    <h2 class="heading-medium">Links and URLs</h2>
    <p class="bottom-gutter-1-3">
      Always use full URLs, starting with https://
    </p>
    <div class="govuk-inset-text govuk-!-margin-top-0">
      Apply now at https://www.gov.uk/example
    </div>
  </div>
</details>