<p class="govuk-body">
  <%= I18n.t("faf.energy_alternative.body") %>
</p>
<ul class="govuk-list govuk-list--bullet">
  <% for bullet in I18n.t("faf.energy_alternative.body_bullets") do %>
    <li><%= bullet %></li>
  <% end %>
</ul>
