<%= turbo_frame_tag "forward-frame" do %>
  <% if @show_attachment_warning %>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden"><%= I18n.t("support.case.label.messages.forward.warning") %></span>
        <%= I18n.t("support.case.label.messages.forward.warning_body") %>
      </strong>
    </div>
  <% end %>

  <%= render "support/cases/messages/forwards/form", email: nil %>
<% end %>
