<p>Your evaluation of {{sub_category}} procurement for {{organisation_name}} has been accepted.</p>

<br>

<p> {{caseworker_full_name}} <br>
Procurement Specialist <br>
Get help buying for schools
</p>

<br>

<p><b><i>GET HELP BUYING FOR SCHOOLS SERVICE DISCLAIMER</i></b></p>

<p><b><i>Please note that the expertise and advice being provided by the Service shall not in any way affect your obligations to comply with all relevant procurement law and the Department's guidance, including but not limited to the Public Contracts Regulations, Academy Trust Handbook, ESFA Funding Agreement and the Schemes for Financing Local Authority Maintained schools.</i></b></p> 

<p><b><i>For the avoidance of doubt, the Department shall bear no liability as a result of using our Service.</i></b></p>