<p>Dear {{ case_creator_full_name }},</p>

<p>You’re due to switch <b>gas supplier</b> and join the DfE’s energy contract on {{ gas_contract_end_date }}.</p>

<p>You selected {{ billing_payment_terms }} direct debit as your preferred billing method and indicated your school is eligible for VAT relief.</p>

<p>To ensure a smooth switch to the new supplier and avoid any arrears or unnecessary charges, follow the instructions below.</p>

<p><b>VAT certificate</b></p>

<p>Sign the attached certificate. We’ve auto populated the rest of the required fields.</p>

<p><b>Direct debit</b></p>

<p>We’ve auto populated some of the fields in the direct debit mandate, but you need to supply your school’s: </p>

<ul>
  <li>name of account holder (your school’s name)</li>
  <li>bank or building society account number</li>
  <li>branch sort code</li>
  <li>name and full postal address of bank or building society</li>
  <li>name</li>
  <li>the section marked ‘Instruction to your bank’</li>
</ul>

<p>As soon as you’ve completed the forms, send them to <a href="mailto:ccs@totalenergies.com">ccs@totalenergies.com</a>.

<p>If you’d prefer to pay by BACS instead of direct debit, email 
<a href="<%= "mailto:dfe-energy.services-team@education.gov.uk" %>">dfe-energy.services-team@education.gov.uk</a> 
with your bank or building society details, a sentence explaining that you’d like to set up BACS 
payment, and the date you’re due to receive supply.</p>

<p>Your new supplier, EDF Energy, will be in touch around the contract's start date with information about your first invoice and portal access.</p>

<p>Kind regards,</p>

<p>DfE Energy for Schools Team</p>
