<p><b>Start date: {{ electricity_contract_start_date }}</b></p>

<p>Dear EDF Energy,</p>

<p>A new school wants to be added to DfE’s V30 contract. Please find attached:</p>

<ul>
  <li>site addition form</li>
  <li>portal access form</li>
</ul>

<p>
  If the school selected to pay via Direct Debit and/or they’re eligible for VAT relief, they’ll send the relevant documents to you directly at 
  <a href="<%= "mailto:ccs@totalenergies.com" %>">ccs@totalenergies.com</a>.
</p>

<p>Kind regards,</p>
<p>DfE Energy for Schools Team</p>
