<p>Dear {{ case_creator_full_name }},</p>

<p>You’re due to switch <b>electricity supplier</b> and join the DfE’s energy contract on {{ electricity_contract_end_date }}.</p>

<p>You selected {{ billing_payment_terms }} direct debit as your preferred billing method.</p>

<p>To ensure a smooth switch to the new supplier and avoid any arrears, complete the attached direct debit mandate. We’ve auto populated some of the fields, but you need to fill in:</p>

<ul>
  <li>name of account holder (your school’s name)</li>
  <li>bank or building society account number</li>
  <li>branch sort code</li>
  <li>name and full postal address of bank or building society</li>
  <li>name</li>
  <li>the section marked ‘Instruction to your bank’</li>
</ul>

<p>As soon as you've completed the form, send it to <a href="<%= "mailto:edfenergyccssales@edfenergy.com" %>">edfenergyccssales@edfenergy.com</a>.</p>

<p>If you’d prefer to pay by BACS instead of direct debit, email  
  <a href="<%= "mailto:dfe-energy.services-team@education.gov.uk" %>">dfe-energy.services-team@education.gov.uk</a> with your bank or building society details, a sentence explaining that you’d like to set up BACS payment, and the date you’re due to receive supply.
</p>

<p>Your new supplier, EDF Energy, will be in touch around the contract's start date with details of your invoice and portal access.</p>

<p>Kind regards,</p>

<p>DfE Energy for Schools Team</p>
<p>&nbsp;</p>
