<p>Dear {{ case_creator_full_name }},</p>

<p>Thank you for joining Energy for Schools on behalf of {{ organisation_name }}.</p>

<p>Your case reference number is {{ case_reference_number }}.</p>

<p>Please find attached:</p>

<ul>
  <li>a summary of the information you provided</li>
  <li>a copy of the letter of authority</li>
  <li>your VAT certificate(s), if applicable</li>
</ul>

<p>We will send your information to the new supplier(s). If the transfer from your current supplier(s) is successful, your new contracts will start on:</p>

<p>{{ gas_and_or_electricity_contract_start_dates }}</p>

<p>You may be placed on an interim rate to start with, depending on your current contract's end date and the start of the next available V30 rate.</p>

<p>For example, if your current contract ends on 31 December 2025 and you're set to switch to the V30 rate on 1 April 2026, you'll be on an interim rate between 1 January 2026 and 31 March 2026.</p>

<p>We'll keep you informed of forecast unit rates once your contract starts by sending you a monthly email update.</p>

<p><b>Objections</b></p>
<p>The new supplier(s) will start the process of switching your supply roughly one month before your new contract's start date. If the transfer from your current supplier is refused, this is referred to as an objection. DfE will notify you if there has been an objection guide you on what to do next.</p>

<p><b>Portal access</b></p>

<p>If you selected 'Email' as a billing preference, you'll be granted access to the new supplier(s) portals on or shortly after your contract's start date. Portal access allows you to view your consumption and billing information and input meter readings.</p>

<p><b>Support</b></p>
<p>You can contact DfE by replying to this email if you need help with</p>

<ul>
  <li>contract-related questions, including guidance on termination periods and contractual obligations</li>
  <li>adding new sites or removing existing ones from your energy contract (only applicable to multi-academy trusts)</li>
  <li>escalating and resolving any persistent problems with your energy supplier</li>
  <li>account configuration and ensuring correct billing information across all your sites</li>
  <li>managing energy contracts during change of tenancy situations</li>
  <li>renewable energy options</li>
</ul>

<p>Kind regards,</p>

<p>Energy for Schools team</p>
</br>

<p><b>Help us improve this service</b></p>

<p>Energy for Schools is part of Get help buying for schools service. Share your experience of joining Energy for Schools by completing this short survey.</p>