<p>Dear {{ case_creator_full_name }},</p>

<p>Thank you for joining Energy for Schools on behalf of {{ organisation_name }}.</p>

<p>Your case reference number is {{ case_reference_number }}</p>

<p>Please find attached:</p>

<ul>
  <li>a summary of the information you provided</li>
  <li>a copy of the letter of authority</li>
</ul> 

<p>The relevant information will also be sent to the new supplier(s). If the transfer from your current supplier is successful, your new contract(s) will start on:</p>

<p>{{ gas_and_or_electricity_contract_start_dates }}</p>

<p>You may be placed on an interim rate to start with, depending on your current contract’s end date and the start of the next available V30 rate.</p>

<p>For example, if your current contract ends on 30 September 2026 and you're switching to the V30 rate on 1 April 2027, you’ll be placed on an interim rate between 1 October 2026 and 31 March 2027.</p>

<p>We’ll keep you informed of forecast unit rates once your contract starts by sending you a monthly email update.</p>

<p>We’ll also contact you with further instructions if you selected direct debit as your preferred payment method, or if you’re eligible for VAT relief.</p>

<p><b>Notice period</b></p>

<p>Check your current contract's termination terms and notice period to find out how much notice you need to provide to switch suppliers. Notice must be provided in writing. DfE cannot do this for you.</p>

<p>If your school’s energy contract is already through CCS, DfE will transfer (novate) you onto the new account. In this instance, you do not need to give notice to your current supplier.</p>

<p><b>Objections</b></p>

<p>The new suppliers will start the process of switching your supply roughly one month before your new contract’s start date. If the transfer from your current supplier is refused, this is referred to as an objection. DfE will notify you if there has been an objection and guide you on what to do next. </p>

<p><b>Contact from your new suppliers</b></p>

<p>Your new suppliers will contact you before supply starts to arrange the installation of smart meters, if your site does not already have them.</p>

<p>Smart meters provide several benefits, including:</p>

<ul>
  <li>more accurate billing</li>
  <li>improved energy management</li>
  <li>automated meter readings</li>
</ul>

<p>Your new supplier(s) will also grant you access to their portal(s). The portal access link will be:</p>

<ul>
  <li>sent on or shortly after your contract start date</li>
  <li>valid for 24 hours</li>
</ul>

<p>Portal access allows you to view your consumption and billing information and input meter readings.</p>

<p><b>Support</b></p>

<p>You can contact DfE by replying to this email if you need help with:</p>

<ul>
  <li>contract-related questions, including guidance on termination notice periods and contractual obligations</li>
  <li>adding new sites or removing existing ones from your energy contract (only applicable to federations and multi-academy trusts)</li>
  <li>escalating and resolving any persistent problems with your energy supplier</li>
  <li>account configuration and ensuring correct billing information across all your sites</li>
  <li>managing energy contracts during change of tenancy situations</li>
  <li>renewable energy options</li>
</ul>

<p>Kind regards,</p>

<p>DfE Energy for Schools Team</p>
<p>&nbsp;</p>

<p><b>Help us improve the service</b></p>

<p>Energy for Schools is part of the Get help buying for schools service. Share your experience of joining Energy for Schools by 
  <a href="<%= "#{ENV.fetch('APPLICATION_URL')}/customer_satisfaction_surveys/new?service=energy_for_schools&source=form_submitted_email" %>">completing this short survey</a>.
</p>
