<p>Dear {{ case_creator_first_name }},</p>

<p>Your new electricity contract is about to start.</p>

<p>You’ve indicated that your school is eligible for VAT relief. To ensure the correct percentage VAT is applied to your electricity invoice, send the attached certificate to <a href="<%= "mailto:edfenergyccssales@edfenergy.com" %>">edfenergyccssales@edfenergy.com</a>.</p>

<p>If you’re not eligible for VAT relief, ignore these instructions.</p>

<p>Kind regards,</p>

<p>DfE Energy for Schools Team</p>
<p>&nbsp;</p>