<% tower_id = "#{@tower.title.parameterize}-tower" %>
<% scope = "#{@tower.title.parameterize(separator: '_')}" %>

<%= turbo_frame_tag "#{tower_id}-frame" do %>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="<%= tower_id %>">
    <h1 class="govuk-heading-l">
      <%= @tower.title %> Tower
    </h1>

    <%= render partial: "support/cases/case_list/case_list",
          locals: {
            tab: tower_id,
            cases: @cases,
            page_param_name: nil,
            filter_form: @filter_form,
            filter_form_scope: "filter_#{scope}_cases",
            filter_url: support_tower_path(@tower),
            clear_url: support_tower_path(@tower, clear: true),
          } %>
  </div>
<% end %>
