<%= form_with url: evaluation_download_document_path(@current_case), method: :patch do |form| %>
<div class="govuk-form-group govuk-!-static-margin-bottom-8" data-controller="download_documents">
  <dl class="govuk-summary-list" data-download_documents-target="downloadLinks">
    <% @documents.each do |document| %>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <%= link_to document.file_name, evaluation_download_document_path(@current_case, document_type: document.class, document_id: document.id), method: :put, class: "govuk-link" %>
        </dd>
        <% hideClass = @downloaded_documents.present? && @downloaded_documents.map(&:support_case_upload_document_id).include?(document.id) ? '' : 'govuk-!-display-none' %>
          <dd class="govuk-summary-list__value govuk-!-padding-top-4 dowloaded-icon <%= hideClass%>">
          <%= image_tag "tick.svg", alt: "Already downloaded", width: "24", height: "24" %>
          </dd>
      </div>
    <% end %>
  </dl>
</div>
<% end %>
