<%= form_with url: evaluation_download_document_path(@current_case), method: :patch do |form| %>
<div class="govuk-form-group govuk-!-static-margin-bottom-8">
  <dl class="govuk-summary-list">
    <% @documents.each do |document| %>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <%= link_to document.file_name, evaluation_download_document_path(@current_case, document_type: document.class, document_id: document.id), method: :put, class: "govuk-link" %>
        </dd>
      </div>
    <% end %>
  </dl>
</div>
<% end %>
