<%= content_for :title, "Supported Buying Case Management" %>

<h1 class="govuk-heading-xl">
  Supported Buying Case Management
</h1>

<p class="govuk-body govuk-!-font-weight-bold">You cannot access the CMS yet.</p>
<p class="govuk-body">You currently do not have any roles assigned, please contact an admin user to get your required roles assigned.</p>
<p class="govuk-body">Try again when your roles have been assigned and you will be taken to the CMS.</p>

<div class="govuk-button-group flex-align-center">
  <%= link_to "Continue to CMS", cms_entrypoint_path, class: "govuk-button" %>
</div>
