<%= content_for :title, "Supported Buying Case Management | Not Authorised" %>

<h1 class="govuk-heading-xl">
  Supported Buying Case Management
</h1>

<p class="govuk-body govuk-!-font-weight-bold">You are not authorised to access that page.</p>
<p class="govuk-body">You do not have the required access roles, please contact an admin user to get your required roles assigned.</p>

<div class="govuk-button-group flex-align-center">
  <%= link_to "Go Home", cms_entrypoint_path, class: "govuk-button" %>
</div>
