<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @organisation_detail.name %>: <%= I18n.t("energy.electric_bill_consolidation.title") %></span>
    <%= render "form" %>
  </div>
</div>
