<%= content_for :title, "#{@form.errors.any? ? 'Error: ' : ''}#{I18n.t("energy.electric_bill_consolidation.option_heading")} - #{I18n.t('energy.service_name')}" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "form" %>
  </div>
</div>
