<p>Dear <span>{{case_creator_full_name}}</span>,</p>

<p>You’ve started the process of joining the Energy for Schools contract on behalf of <span>{{organisation_name}}</span>.</p>

<p>Your case reference number for this process is <span>{{case_reference_number}}</span>. Please refer to the reference number if you contact DfE about Energy for Schools.</p>

<p>To complete the form, visit <span>{{unique_case_specific_link}}</span> and complete the sections labelled ‘Not started’ or ‘In progress’.</p>

<p>You can return to the form and change your answers at any point before it is submitted.</p>

<p>If you need help with the form, you can contact DfE by replying to this email.</p>

<p>Kind regards,</p>

<p>The Energy for Schools Team</p>
