<div class="govuk-tabs__panel" id="all-cases">
  <%= render partial: "engagement/cases/case_list/case_list",
        locals: {
          tab: "all-cases",
          cases: @all_cases,
					list_display_name: I18n.t("support.case.list.all_cases"),
          page_param_name: "all_cases_page",
          filter_form: @all_cases_filter_form,
          filter_form_scope: :filter_all_cases_form,
          filter_url: engagement_cases_path(anchor: "all-cases"),
          clear_url: engagement_cases_path(anchor: "all-cases", clear: true),
        } %>
</div>
