<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m"><%= I18n.t("users.heading") %></h2>
    <%= render "form", current_user: @current_user %>
  </div>
</div>
