<%= render BackLinkComponent.new(url: onboarding_path(@prev_step)) %>
<h1 class="govuk-heading-m">Sign in (in progress)</h1>
<%#= link_to "Continue", onboarding_path(@next_step), class: "govuk-button", role: "button" %>