$govuk-assets-path: "/assets/";
$govuk-images-path: "/assets/images/";
$govuk-font-family: 'Inter', sans-serif;
$govuk-new-organisation-colours: true;

@import "govuk-frontend/dist/govuk/index";
@import "dfe-frontend/packages/dfefrontend";
@import url('https://rsms.me/inter/inter.css');

.govuk-table__row.borderless .govuk-table__cell,
.borderless {
   border: 0 !important;
}

td.govuk-table__cell :first-child {
   margin-top: 0;
}

.dfe-page-hero {
   color: #fff;
}