.flex-align-center {
  display: flex;
  align-items: center
}

.ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-350px {
  display: block;
  width: 350px;
}

.pull-right {
  @include govuk-media-query($from: tablet) {
    float: right;
  }
}

.info-box-grey {
    background: govuk-colour("light-grey");
    padding: 20px;
    margin: 0px;
    margin-bottom: 20px;

    .govuk-warning-text__icon{
      margin-top: 3px;
      margin-left: 15px;
    }
}

.flex-gap-15px {
  display: flex;
  gap: 15px;
}

.debug_dump {
  background: beige;
}

.top-category-detection-result {
  background-color: aliceblue;
}
