.flex-align-center {
  display: flex;
  align-items: center;
  gap: 10px;

  .govuk-body {
    margin-bottom: 0;
  }
}

.pull-up-10 {
  margin-top: -10px;
}

.spread-out {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-300px {
  display: block;
  max-width: 300px;
}

.col-350px {
  display: block;
  width: 350px;
}

.pull-right {
  @include govuk-media-query($from: tablet) {
    float: right;
  }
}

.info-box-grey {
    background: govuk-colour("light-grey");
    padding: 20px;
    margin: 0px;
    margin-bottom: 20px;

    .govuk-warning-text__icon{
      margin-top: 3px;
      margin-left: 15px;
    }
}

.flex-gap-15px {
  display: flex;
  gap: 15px;
}

.flex-gap-5px {
  display: flex;
  gap: 5px;
}

.debug_dump {
  background: beige;
}

.top-category-detection-result {
  background-color: aliceblue;
}

.case-status-badge {
  white-space: nowrap;
}

.govuk-table__cell.vertical_middle {
  vertical-align: middle;
}

.fake-link {
  @extend .govuk-link;
  color: $govuk-link-colour;
  cursor: pointer;
}

.divider-bottom {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: govuk-spacing(4);
}
