<div class="<%= css_class %>">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        <%= banner_tag %>
      </strong>
      <span class="govuk-phase-banner__text">
        <%= banner_message.html_safe %>
      </span>
    </p>
  </div>
</div>
