<div class="content-banner govuk-!-margin-top-8 govuk-!-margin-bottom-2">
  <div class="content-banner__content">
    <h3 class="govuk-heading-s content-banner__title">
      <%= link_to title, url, class: "govuk-link content-banner__link" %>
    </h3>
    <p class="govuk-body-m content-banner__description govuk-!-padding-right-9"><%= description %></p>
  </div>
  </div>
