<div class="govuk-grid-column-two-thirds promo-banner govuk-!-padding-bottom-4 govuk-!-padding-top-2">
  <div class="content-banner__content govuk-!-padding-left-2">
    <h3 class="govuk-heading-s content-banner__title">
      <%= link_to title, url, class: "govuk-link content-banner__link" %>
    </h3>
    <p class="govuk-body"><%= @category.banner.description %></p>
  </div>
</div>
