<div class="govuk-!-margin-top-3 govuk-!-margin-bottom-2 margin-left--2">
  <div class="content-banner__content govuk-!-margin-left-8">
    <h3 class="govuk-heading-s content-banner__title">
      <%= link_to title, url, class: "govuk-link content-banner__link" %>
    </h3>
    <p class="govuk-body-m content-banner__description govuk-!-padding-right-9"><%= description %></p>
  </div>
</div>
