<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
  <div class="dfe-width-container">
    <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <%= link_to t("header_title"), "/", class: "govuk-service-navigation__link" %>
      </span>
    </div>
  </div>
</section>
