<div class="dfe-header__search_narrow" data-controller="search-toggle"
data-search-toggle-hidden-class="is-not-visible" data-search-toggle-background-class="search-header-background">
  <div  data-search-toggle-target="backgroundColor" id="content-header">
    <button  class="search_open" id="toggle-search" aria-controls="search" aria-label="Open search"
            data-action="<%= t("shared.dfe_search.data_open") %>" data-search-toggle-target="openButton">
        <svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
            <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
        </svg>

    </button>

    <button class="search_close" id="close-search" name="close-search"
            data-action="<%= t("shared.dfe_search.data_close") %>" data-search-toggle-target="closeButton">
        <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
            <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
        </svg>
        <span class="govuk-visually-hidden"><%= t("shared.dfe_search.close_search") %></span>
    </button>
  </div>
</div>

