<div class="dfe-width-container dfe-header__container govuk-!-padding-top-2 govuk-!-padding-bottom-2">
  <div class="govuk-header__logo">
    <a class="govuk-header__link govuk-header__link--homepage" href="/" aria-label="DfE homepage">
      <%= image_tag 'dfe-frontend/dfe-logo.png', class: 'govuk-header__logotype', alt: 'Department for Education' %>
    </a>
  </div>

  <%= render "shared/dfe_search_button" %>

</div>
