<% if solution.provider_name.present? %>
  <p class="provider govuk-secondary-text-colour">
    <%= t(".provider") %> <%= solution.provider_name %>
  </p>
<% end %>
<% if solution.expiry.present? %>
  <p class="expires govuk-secondary-text-colour">
    <%= t(".expires") %> <%= fabs_format_date(solution.expiry) %>
  </p>
<% end %>
