<% if related_content.present? %>
  <div class="related-content govuk-!-margin-top-5">
    <h2 class="govuk-heading-s govuk-!-margin-top-2"><%= t("shared.dfe_sidebar.related_content") %></h2>
    <ul class="govuk-list">
      <% related_content.each do |link| %>
        <li>
          <%= fabs_govuk_link_to link.link_text, link.url, class: "govuk-body-s" %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
