<%= content_for :title, I18n.t("faf.email.title") %>

<%= render "framework_requests/common_form_fields", form: form %>

<span class="govuk-caption-l">
  <%= I18n.t("faf.email.subtitle") %>
</span>

<%= form.govuk_text_field :email, autofocus: true, label: { text: I18n.t("faf.email.title"), tag: :h1, size: "l" }, hint: { text: I18n.t("faf.email.hint") } %>
