<div data-component="view-hidden-responses">
  <div class="show-action">
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      View <%= messages.count %> more responses
    </button>

    <hr class="govuk-!-margin-bottom-6" />
  </div>

  <div class="hidden-responses govuk-!-display-none">
    <%= render partial: "shared/messages/message", truncated_message: true, collection: messages, as: :message %>
  </div>
</div>
