<%= content_for :title, "GHBS | Frameworks | New Framework" %>

<h1 class="govuk-heading-l">New Framework</h1>

<div class="govuk-!-width-two-thirds">
  <%= form_for @framework do |f| %>
    <%= render "frameworks/frameworks/form", f:, submit: "Create framework" %>
  <% end %>
</div>
