<p>The contract for the procurement of {{sub_category}} for {{organisation_name}} has been shared.</p>

<p><b>Sign in to download contract files</b></p>
<p>Click the {{unique_case_specific_link}} to log into the portal and save these files securely.</p>

<p><b>What next?</b></p>

<p>We will be in touch to arrange a handover call with you.</p>

<br>

<p>Reply to this email if you have any questions or need help.</p>


<p> {{caseworker_full_name}} <br>
Procurement Specialist <br>
Get help buying for schools
</p>

<br>

<p><b><i>GET HELP BUYING FOR SCHOOLS SERVICE DISCLAIMER</i></b></p>

<p><b><i>Please note that the expertise and advice being provided by the Service shall not in any way affect your obligations to comply with all relevant procurement law and the Department's guidance, including but not limited to the Public Contracts Regulations, Academy Trust Handbook, ESFA Funding Agreement and the Schemes for Financing Local Authority Maintained schools.</i></b></p> 

<p><b><i>For the avoidance of doubt, the Department shall bear no liability as a result of using our Service.</i></b></p>