<div class="notification-details">
  <div class="major">
    <span class="action">
      <%= link_to(support_notification_read_path(notification, redirect_to: support_case_path(notification.support_case, notification.subject.ref, back_to: Base64.encode64(support_notifications_path))), method: :post, class: "govuk-link--no-visited-state") do %>
        Case <%= notification.subject.ref %> - procurement evaluation documents submitted by <%= current_user.email %>
      <% end %>
    </span>
    <span class="by">from <%= notification.subject.agent.first_name %></span>
  </div>
</div>
