.timeline-stages__heading-box {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.timeline-stages__heading-stage-title {
  width: 100%;
  height: 45px;
}

.timeline-stages__heading-stage-title h2 {
  line-height: 45px;
  padding-left: 1rem;
  color: white;
}

.timeline-stages__heading-stage-indicator {
  @extend .govuk-heading-m;
  color: white;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}

.timeline-stages__heading-box[data-stage="0"] .timeline-stages__heading-stage-title {
  background-color: $stage-0-colour;
}

.timeline-stages__heading-box[data-stage="0"] .timeline-stages__heading-stage-indicator {
  background-color: $stage-0-colour;
}

.timeline-stages__heading-box[data-stage="1"] .timeline-stages__heading-stage-title {
  background-color: $stage-1-colour;
}

.timeline-stages__heading-box[data-stage="1"] .timeline-stages__heading-stage-indicator {
  background-color: $stage-1-colour;
}

.timeline-stages__heading-box[data-stage="2"] .timeline-stages__heading-stage-title {
  background-color: $stage-2-colour;
}

.timeline-stages__heading-box[data-stage="2"] .timeline-stages__heading-stage-indicator {
  background-color: $stage-2-colour;
}

.timeline-stages__heading-box[data-stage="3"] .timeline-stages__heading-stage-title {
  background-color: $stage-3-colour;
}

.timeline-stages__heading-box[data-stage="3"] .timeline-stages__heading-stage-indicator {
  background-color: $stage-3-colour;
}

.timeline-stages__heading-box[data-stage="4"] .timeline-stages__heading-stage-title {
  background-color: $stage-4-colour;
}

.timeline-stages__heading-box[data-stage="4"] .timeline-stages__heading-stage-indicator {
  background-color: $stage-4-colour;
}
