<%= link_to I18n.t("generic.button.back"), fafs_path(@faf, faf_form: @faf_form.to_h.merge(step: @faf_form.step, back: true)), method: :post, class: "govuk-back-link"  unless @faf_form.step == 1 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "fafs/steps/form", path: fafs_path, verb: :post %>
  </div>
</div>
