<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <%= form.label :body, I18n.t("support.interaction.header.add_case_note", ref: @interaction.case.ref), class: "govuk-label govuk-label--l" %>
  </h1>
  <%= form.text_area :body, class: "govuk-textarea", rows: 5 %>
  <%= form.hidden_field :event_type, value: "note" %>
  <%= form.hidden_field :back_to, value: back_to_param %>
</div>
