
<%= form_with model: @filter_form, scope: :filter_form, url: request.url, method: :get, class: "filter-form", html: { "data-controller" => "auto-filter" } do |f| %>
  <div class="spread-out">
    <% options = [[:received, "Received files"], [:sent, "Sent files"], [:all, "All files"]] %>

    <%= f.govuk_collection_radio_buttons :sent_received, options, :first, :last, inline: true, small: true, legend: { text: 'Filter results' } %>
  </div>
<% end %>
