<%= turbo_frame_tag "case-attachments-frame" do %>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="case-attachments">
    <h2 class="govuk-heading-l">Email attachments</h2>
    <%= render "support/cases/attachments/table", attachments: @email_attachments %>
    <%= render "components/pagination", records: @email_attachments, pagination_params: { anchor: "attachments" } %>
  </div>
<% end %>
