<div id="case_status_badge">
  <% if kase.action_required? && !kase.closed? %>
    <strong class="govuk-tag govuk-tag--red case-status-badge">
      <%= I18n.t("support.case.label.state.state_action_required") %>
    </strong>
  <% else %>
    <strong class="govuk-tag govuk-tag--green case-status-badge">
      <%= I18n.t("support.case.label.state.state_#{kase.state.downcase}") %>
    </strong>
  <% end %>
</div>
