<%= turbo_frame_tag "end-of-journey-feedback-frame" do %>
  <h2 class="govuk-heading-m"><%= I18n.t("end_of_journey_survey.thank_you.heading") %></h2>
  <p class="govuk-body"><%= I18n.t("end_of_journey_survey.thank_you.body") %></p>
<% end %>
