<%= content_for :page_title_prefix, t("errors.internal_server_error.page_title") %>
<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-xl">
        <%= t("errors.internal_server_error.page_title") %>
      </h2>
      <p class="govuk-body">
        <%= t("errors.internal_server_error.page_body") %>
      </p>
      <p class="govuk-body">
        <%= govuk_link_to t("errors.go_home"), "https://www.gov.uk/guidance/buying-for-schools--2", no_visited_state: true %>
      </p>
    </div>
  </div>
</main>
