<%= render partial: "support/cases/components/case_header", locals: { current_case: @current_case } %>
<h1 class="govuk-heading-l">
  <%= I18n.t("support.contract_recipients.delete_confirmation", name: @contract_recipient.name) %>
</h1>

<div class="govuk-button-group flex-align-center">
  <%= link_to I18n.t("generic.button.remove"),
              support_case_contract_recipient_path(@contract_recipient, case_id: @current_case, confirm: true),
              method: :delete,
              class: "govuk-button govuk-button--warning" %>

  <%= link_to I18n.t("generic.button.cancel"),
              support_case_contract_recipients_path(case_id: @current_case),
              class: "govuk-link govuk-link--no-visited-state" %>
</div>
