<%= content_for :title, "Supported Buying Case Management" %>

<h1 class="govuk-heading-xl">
  Supported Buying Case Management
</h1>


<% if ::PagesController.bypass_dsi? %>
  <%= button_to "Agent Login (bypass DSI)", support_agents_path, method: :post, class: "govuk-button" %>
<% else %>
  <%= button_to "Agent Login", support_agents_path, method: :post, class: "govuk-button" %>
<% end %>

