<!-- email (3) -->

<%= form.hidden_field :dsi, value: form.object.dsi %>
<%= form.hidden_field :first_name, value: form.object.first_name %>
<%= form.hidden_field :last_name, value: form.object.last_name %>

<span class="govuk-caption-l">
  EMAIL
</span>
<h1 class="govuk-heading-l">
  EMAIL
</h1>

<%= form.govuk_text_field :email,
                          autofocus: true
                        %>

<br>


