<%# dsi or guest (1) %>

<%=
  form.govuk_collection_radio_buttons :dsi,
    [
      OpenStruct.new(value: true, label: I18n.t("faf.dsi_or_search.radios.dsi")),
      OpenStruct.new(value: false, label: I18n.t("faf.dsi_or_search.radios.no_dsi")),
    ],
    :value,
    :label,
    caption: { text: I18n.t("faf.dsi_or_search.subtitle"), size: "l" },
    legend: { text: I18n.t("faf.dsi_or_search.header"), size: "l" }
%>

<p class="govuk-body">
  <%= link_to I18n.t("faf.dsi_or_search.link.text"), I18n.t("faf.dsi_or_search.link.url"), class: "govuk-link" %>
</p>

<%= javascript_include_tag "faf_dsi_or_guest" %>
