<div class="dfe-card dfe-card--featured">
  <div class="dfe-card-container">
    <h3 class="govuk-heading-m">
      <%= fabs_govuk_link_to offer.title, offer.url, class: "govuk-link govuk-link--no-visited-state dfe-card-link--header" %>
    </h3>
    <p><%= offer.description %></p>
  </div>
</div>
