<div class="govuk-!-margin-top-9">
  <%= render_markdown_to_html(@offer.summary) %>
  <%= fabs_govuk_link_to h(offer_cta(@offer)), @offer.url, class: "cta govuk-button" %>
  <% content_for :sidebar do %>
    <%= render partial: "shared/related_content", locals: { related_content: @offer.related_content } %>
  <% end %>
</div>
