<%= turbo_frame_tag "case-attachments-frame", src: support_case_attachments_path(@current_case) do %>
  <div id="case-attachments" class="govuk-tabs__panel govuk-tabs__panel--hidden">
    <p class="govuk-body">Loading...</p>
  </div>
<% end %>
