<%= turbo_frame_tag "case-files-frame", src: support_case_files_path(@current_case) do %>
  <div id="case-files" class="govuk-tabs__panel govuk-tabs__panel--hidden">
    <p class="govuk-body">Loading...</p>
  </div>
<% end %>
