<%= turbo_frame_tag "onboarding-summary-frame" do %>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="onboarding-summary">
    <h2 class="govuk-heading-l">
      <%= I18n.t("support.case.header.onboarding_summary") %>
    </h2>
  </div>
<% end %>
