<%= turbo_frame_tag "request-details-frame", src: support_case_request_path(@current_case) do %>
  <div id="request-details" class="govuk-tabs__panel govuk-tabs__panel--hidden">
    <p class="govuk-body">Loading...</p>
  </div>
<% end %>
