<%= turbo_frame_tag "school-details-frame", src: support_case_school_details_path(@current_case) do %>
  <div id="school-details" class="govuk-tabs__panel govuk-tabs__panel--hidden">
    <p class="govuk-body">Loading...</p>
  </div>
<% end %>
