<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tasklist">
  <h2 class="govuk-heading-l">
    <%= I18n.t("support.case.header.procurement_task_list") %>
  </h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">
        <%= I18n.t("support.case.label.tasklist.complete_evaluation") %>
      </h3>
      <%= govuk_task_list(id_prefix: "complete-evaluation") do |task_list|
        task_list.with_item(title: I18n.t("support.case.label.tasklist.item.add_evaluators"), href: '#', status: govuk_tag(text: I18n.t("support.case.label.tasklist.status.to_do")))
        task_list.with_item(title: I18n.t("support.case.label.tasklist.item.set_due_date"), href: '#', status: govuk_tag(text: I18n.t("support.case.label.tasklist.status.to_do")))
        task_list.with_item(title: I18n.t("support.case.label.tasklist.item.upload_documents"), href: '#', status: govuk_tag(text: I18n.t("support.case.label.tasklist.status.to_do")))
        task_list.with_item(title: I18n.t("support.case.label.tasklist.item.email_evaluators")) do | item | 
        item.with_status(text: I18n.t("support.case.label.tasklist.status.cannot_start"), cannot_start_yet: true)
        end
        task_list.with_item(title: I18n.t("support.case.label.tasklist.item.review_evaluations")) do | item | 
        item.with_status(text: I18n.t("support.case.label.tasklist.status.cannot_start"), cannot_start_yet: true)
        end
      end %>
    </div>      
  </div>    
</div>