<h1 class="govuk-heading-l">Activity Log</h1>

<%= render "frameworks/management/activity_logs/list", activity_log_items: @activity_log_items %>
<%= render "components/pagination", records: @activity_log_items %>
