<%= content_for :title, "CMS Management | Edit Agent" %>

<h2 class="govuk-heading-l">Edit <%= @agent.full_name %></h2>

<%= render "support/management/agents/form", form: @form, url: support_management_agent_path(@agent), method: :patch, disable_email_field: @agent.email.present? %>
