<%= content_for :title, "CMS Management | New Agent" %>

<h2 class="govuk-heading-l">Add new agent</h2>

<%= render "support/management/agents/form", agent: @agent, url: support_management_agents_path, method: :post, disable_email_field: false %>
