.attachment-date-added-header {
  width: 125px;
}

.attachment-actions-header {
  width: 125px;
  text-align: center;
}

.attachment-actions {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
