.case-summary__procurement-stages {
  optgroup {
    color: white;
  }

  optgroup[label="STAGE 0"] {
    background-color: $stage-0-colour;
  }

  optgroup[label="STAGE 1"] {
    background-color: $stage-1-colour;
  }

  optgroup[label="STAGE 2"] {
    background-color: $stage-2-colour;
  }

  optgroup[label="STAGE 3"] {
    background-color: $stage-3-colour;
  }

  optgroup[label="STAGE 4"] {
    background-color: $stage-4-colour;
  }

  option {
    background-color: white;
    color: black;
  }
}
