.border-left-colour-yellow {
    border-left-color: govuk-colour("yellow")
}

.border-left-colour-green {
    border-left-color: govuk-colour("green")
}

.border-left-colour-blue {
    border-left-color: govuk-colour("blue")
}