a, span, em {
  &:link,
  &:visited {
    color: $govuk-link-colour;
  }
}

.govuk-summary-card__title {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.govuk-summary-card__title_cell {
  text-align: right;
}

.govuk-summary-card__title_cell:first-child {
  margin-right: 20px;
  text-align: left;
}

.border-left-colour-yellow {
    border-left-color: govuk-colour("yellow")
}

.border-left-colour-green {
    border-left-color: govuk-colour("green")
}

.border-left-colour-blue {
    border-left-color: govuk-colour("blue")
}

.govuk-summary-card__content {
  th {
    vertical-align: bottom;
  }
  tr:last-child > td {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.overview-table {
  .tower-name {
    width: 50%;
  }

  .result-value {
    width: calc(50% / 5);
    text-align: center;
  }

  .result-money-value {
    text-align: right;
  }

  th.result-money-value {
    vertical-align: bottom;
  }
}

.live-cases-table {
  .row-header {
    // width: 35%;
    vertical-align: bottom;
  }

  .result-value {
    // width: calc(65% / 4);
    text-align: center;
  }

  .result-money-value {
    text-align: right;
  }

  th.result-value {
    vertical-align: bottom;
  }

  th.result-money-value {
    vertical-align: bottom;
  }
}
