.case-files__head {
  display: flex;
  justify-content: space-between;
}

.case-files__file {
  display: flex;
  justify-content: space-between;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  border-bottom: 1px solid $govuk-border-colour;

  &.dz-error {
    color: #d4351c;
    border-color: #d4351c;

    .progress-status-container {
      display: none;
    }
    .govuk-link--no-visited-state {
      color: #d4351c;
    }
  }
}

.case-files__file-name {
  @include govuk-font($size: 19);
}

.case-files__file-actions {
  display: flex;
  justify-content: space-between;
  gap: govuk-spacing(2);
}

.case-files__file-remove {
  @include govuk-font($size: 19);
}
