.email-preview {
  border: 1px solid #b1b4b6;
}

.email-preview dt.govuk-summary-list__key,
.email-preview .email-preview-body {
  padding-left: 60px;
}

.email-preview .email-preview-body {
  padding-bottom: 30px;
}