.tower-top-row {
  .govuk-table__cell {
    border: none;
    padding-bottom: 0px;
  }
}

.tower-bottom-row {
  .tower-note {
    span {
      display: inline-block;
      width: 650px;
    }
  }
}

.col-organisation {
  width: 350px;
}

.col-sub-category {
  width: 150px
}
