<div class="template-manager__action-bar">
  <p class="govuk-body govuk-!-font-weight-bold">
    <%= I18n.t("support.management.email_templates.index.template_manager.templates.count", count: @templates.size) %>
  </p>
</div>
