<div class="template-manager__template-tags">
  <ul>
    <% template.groups.each do |group| %>
      <li>
        <strong class="govuk-tag govuk-tag--blue">
          <%= group.title %>
        </strong>
      </li>
    <% end %>
    <% if template.stage.present? %>
      <li>
        <strong class="govuk-tag govuk-tag--grey">
          <%= I18n.t(template.stage.gsub("Stage ", "").strip, scope: 'support.management.email_templates.stages') %>
        </strong>
      </li>
    <% end %>
  </ul>
</div>
