.activity-log-table {
  @extend .govuk-\!-font-size-16;

  table {
    @extend .govuk-\!-font-size-16;
  }

  .activity-log-date {
    width: 180px;
  }
  .activity-log-person {
    width: 180px;
  }

  .activity-log-change-arrow {
    color: #a2a2a2;
    margin-left: 5px;
    margin-right: 5px;
  }
}
