.card {
  position: relative;
  background-color: govuk-colour("black", $variant: "tint-95");

  @media (max-width: 661px) {
    max-width: 100%;
  }

  &:hover, &:focus-within {
    background-color: govuk-colour("black", $variant: "tint-25");

    .card-link, .card-description {
      color: govuk-functional-colour("inverse-text");
    }
  }

  &:focus-within {
    outline: 3px solid govuk-functional-colour("focus");

    .card-link {
      color: govuk-functional-colour("focus-text");
    }
  }
}

.card-text-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

// Invisible overlay to make the entire card clickable
.card-link:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
