.subcategory-filters-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 30px 0;
  border-bottom: 1px solid #b1b4b6;
}

.filters-top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.subcategory-filters {
  flex: 1;
}

.filters-remove {
  padding-top: 10px;
  border-top: 1px solid #b1b4b6;
}

.filters-remove-tags {
  list-style-type: none;
  padding-left: 0;
  margin: 5px 0;
}

.filters-remove-tags li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
}

.filters-remove-tag {
  background-color: #f3f2f1;
  border: 2px solid #d8d8d8;
  color: #181919;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  padding: 8px 10px 8px 35px;
  position: relative;
  text-decoration: none;

  &::before {
    content: "×";
    color: #191a1a;
    position: absolute;
    left: 12px;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
  }

  &:hover {
    background-color: #f3f2f1;
  }
}
