.homepage-heading {
  margin-bottom: 20px;
}

.govuk-service-navigation{
  border-top: 1px solid #8eb8dc;
  position: relative;
}

.dfe-header--homepage {
  .govuk-service-navigation {
    @extend .govuk-service-navigation--inverse;
    .dfe-width-container {
      border-top: 1px solid rgba(255, 255, 255);
      border-bottom: 1px solid rgba(255, 255, 255);
    }
  }
}

.govuk-inset-text--thin {
  border-left-width: 6px;
}

.homepage-category-list {
  border-top: 1px solid #b1b4b6;
  padding: 20px 0 60px 0;
}
