.homepage-heading {
  margin-bottom: 20px;
}

.govuk-service-navigation{
  border-top: 1px solid #8eb8dc;
  position: relative;
}

.dfe-header--homepage {
  .govuk-service-navigation {
    @extend .govuk-service-navigation--inverse;
    .dfe-width-container {
      border-top: 1px solid rgba(255, 255, 255);
      border-bottom: 1px solid rgba(255, 255, 255);
    }
  }
}

.homepage-popular-links {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem;
  align-items: stretch;

  .popular-link-container {
    display: flex;
    gap: 12px;
    align-items: stretch;
    position: relative;
    height: 100%;
  }

  .popular-image {
    flex: 1 1 45%;
    min-width: 0;
    width: 100%;
    max-width: 45%;
    object-fit: cover;
  }

  .popular-text {
    background-color: #f3f2f1;
    flex: 2 1 55%;
    min-width: 0;
    padding: govuk-spacing(2);
    &:hover, &:focus-within {
      background-color: #505a5f;
      a {
        color: #ffffff;
      }
    }
  }

  .popular-link {
    display: block;
    padding-right: 2rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 1rem;
      width: 7px;
      height: 7px;
      border-top: 3px solid #1d70b8;
      border-right: 3px solid #1d70b8;
      transform: translateY(-50%) rotate(45deg);
    }

    &:hover::before {
      border-color: #003078;
    }
  }
}

@media (max-width: 1024px) {
 .homepage-popular-links {
   grid-template-columns: repeat(2, minmax(0, 1fr));
 }
}

@media (max-width: 661px) {
 .homepage-popular-links {
   grid-template-columns: 1fr;
   .popular-text a {
     @include govuk-font($size: 24, $weight: bold);
   }
 }
}

.homepage-category-list {
  border-top: 1px solid #b1b4b6;
  padding: 20px 0 60px 0;
}
