.govuk-character-count-container {
  width: 700px;
}

.gem-c-feedback__prompt-questions-div{
  margin: 0;
}

.gem-c-feedback__prompt-questions{
  margin-left: 0;
  padding-bottom: 10px;
}

.govuk-main-wrapper-padding {
  padding-bottom: 0;
}

.feedback {
  width: 100%;
  clear: both;
}
