.sidebar {
  margin-top: 60px;
  @media (max-width: 640px) {
    margin-top: 0px;
    padding: 0;
  }
}

.sidebar > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar a {
  color: #1d70b8;
  &:hover,
  &:active,
  &:focus {
    color: #003078;
  }
}
