#specification, .specification {
  h2 {
    @extend .govuk-heading-m;
  }

  h3 {
    @extend .govuk-heading-s;
  }

  p {
    @extend .govuk-body;
  }

  ol {
    @extend .govuk-list;
    @extend .govuk-list--number;
  }

  ul {
    @extend .govuk-list;
    @extend .govuk-list--bullet;
  }

  table {
    @extend .govuk-table !optional;
  }

  thead {
    @extend .govuk-table__head !optional;
  }

  tbody {
    @extend .govuk-table__body !optional;
  }

  tr {
    @extend .govuk-table__row !optional;
  }

  th {
    @extend .govuk-table__header !optional;
  }

  td {
    @extend .govuk-table__cell !optional;
  }
}
