<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-caption-l"><%= @organisation_detail.name%>: <%= I18n.t("energy.gas_meter_details.title")%></p>

    <%= render "form" %>
  </div>
</div>
