<% if message.can_mark_as_read? %>
  <span class="govuk-!-margin-left-2">
    <%= render "support/cases/emails/#{message.is_read? ? "read_badge" : "unread_badge"}" %>
  </span>

  <span class="govuk-!-margin-left-1">
    <%= link_to I18n.t("support.case.label.messages.table.#{message.is_read? ? "mark_as_unread" : "mark_as_read"}"),
      support_email_read_status_path(message, status: message.is_read? ? "unread" : "read"),
      data: { turbo_method: :patch },
      class: "govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-!-font-weight-bold" %>
  </span>
<% end %>
