---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/FAKE_SPACE_ID/environments/master/entries?content_type=offer&fields.slug=non-existent&include=1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.19.0; platform ruby/3.4.7; os macOS/24;
      Authorization:
      - Bearer FAKE_API_KEY
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      Etag:
      - '"13397941486963817118"'
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - cda
      X-Contentful-Request-Id:
      - b6cae7c2-b150-4624-8f38-d50cc20e2cb0
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"type":"Array"},"total":0,"skip":0,"limit":100,"items":[]}

        '
  recorded_at: Mon, 19 Jan 2026 14:23:35 GMT
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/FAKE_SPACE_ID/environments/master/entries?content_type=offer&fields.slug=non-existent&include=1&select=fields.title,fields.description,fields.summary,fields.slug,fields.url,fields.call_to_action,fields.image,fields.featured_on_homepage,fields.related_content,fields.expiry,fields.sort_order,sys
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.19.0; platform ruby/3.4.7; os macOS/24;
      Authorization:
      - Bearer FAKE_API_KEY
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      Etag:
      - '"13397941486963817118"'
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - cda
      X-Contentful-Request-Id:
      - d4d9326e-524f-498d-a32b-5d6d3e8af6d5
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"type":"Array"},"total":0,"skip":0,"limit":100,"items":[]}

        '
  recorded_at: Mon, 19 Jan 2026 14:28:39 GMT
recorded_with: VCR 6.4.0
