<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render "support/management/email_templates/template_manager/filters" %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <%= render "support/management/email_templates/template_manager/templates" %>
  </div>
</div>
