<%= content_for :title, I18n.t("customer_satisfaction_survey.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Thank you
    </h1>

    <p class="govuk-body">
       We appreciate you taking the time to give us feedback.
    </p>

    <p class="govuk-body">
      Your response will help us to improve the service for schools.
    </p>

    <p class="govuk-body">
      <%= govuk_link_to "Get help buying for schools", "https://www.gov.uk/guidance/get-help-buying-for-schools", no_visited_state: true %>
    </p>
  </div>
</div>
