.provider {
  margin: 10px 0 0;
}

.expires {
  margin: 0;
}

.cta {
  margin-top: 20px;
}

.related-content {
  border-top: 2px solid #1d70b8;
  padding-top: 10px;
  margin-top: 10px;
}

.solution {
  border-bottom: 1px solid #b1b4b6;
  padding: 15px 0;
}

.all-buying-options-solution {
  border-bottom: 1px solid #b1b4b6;
  padding: 15px 0;
}

.subcategory-filters-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 30px 0;
  border-bottom: 1px solid #b1b4b6;
}

.filters-top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.subcategory-filters {
  flex: 1;
}

.results-count {
  color: #505a5f;
}

.filters-remove {
  padding-top: 10px;
  border-top: 1px solid #b1b4b6;
}

.filters-remove-tags {
  list-style-type: none;
  padding-left: 0;
  margin: 5px 0;
}

.filters-remove-tags li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
}

.filters-remove-tag {
  background-color: #f3f2f1;
  border: 2px solid #d8d8d8;
  color: #181919;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  padding: 8px 10px 8px 35px;
  position: relative;
  text-decoration: none;

  &::before {
    content: "×";
    color: #191a1a;
    position: absolute;
    left: 12px;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
  }

  &:hover {
    background-color: #f3f2f1;
  }
}

.section-title {
  color: #525c61;
  padding: 10px 0;
  font-size: 18px;
}

.dfe-header {
  color: #ffffff;
  background-color: #1d70b8;
  padding-bottom: 0px;
}


.all-buying-options-link-container {
  @media (max-width: 640px) {
    margin-left: 0px;
    padding-top: 2px;
    padding-bottom: 1px;
  }
}

a.all-buying-options-link {
  color: #ffffff;
}

.all-offers-link {
  color: #1d70b8;
  text-decoration: underline;
  margin-top: 0;
  display: inline-block;

  &:hover,
  &:focus {
    color: #003078;
    text-decoration: underline;
  }
}

.dfe-page-hero {
   color: #ffffff;
   .hero-text-container{
      @media (max-width: 640px) {
        margin-left: 0px;
      }
    }
}

.dfe-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 16px 0;
}

.dfe-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #b1b4b6;
  max-width: 400px;
  overflow: hidden;
  align-items: flex-start;

  @media (max-width: 40.0525em) {
    max-width: 100%;
  }

  .title {
    height: 50px;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-clamp: 2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .description {
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-clamp: 5;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
  }
}

.dfe-card-container {
    padding: 24px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
}

.dfe-card:hover,
.dfe-card:focus-within {
  background-color: #1d70b8;
  border-color: #1d70b8;

  a.govuk-link {
    color: #ffffff;
    text-decoration: none;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }

  .title,
  .description {
    color: #ffffff;
  }
}

.dfe-card.dfe-card--featured {
  background-color: #f3f2f1;
  a.govuk-link {
    color: #0b0c0c;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
  &:hover {
    border: 1px solid #505a5f;
    background-color: #505a5f;
    a.govuk-link {
      color: #ffffff;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
  &:focus,
  &:focus-within,
  &:focus-visible {
    border: 1px solid #505a5f;
    background-color: #505a5f;

    a.govuk-link {
      color: #0b0c0c;
      text-decoration: none;
    }
  }
}

.all-buying-options-solution h4 {
  margin-bottom: 0;
}

.govuk-secondary-text-colour {
  color: #505a5f;
}

.offer__image {
  width: 100%;
  height: 0;
  padding-top: 40%;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.energy-banner {
  display: flex;
  background: #e8f1f8;

  &.govuk-grid-row {
    flex-direction: row;
  }

  &__content {
    padding: 40px 60px;
  }

  &__description {
    padding: 0;
  }

  &__call_to_action {
    width: auto;
  }

  &__image {
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--bg-image);
    min-height: 200px;
  }

  @media (max-width: 640px) {
    &.govuk-grid-row {
      flex-direction: column-reverse;
    }
    &__content {
      padding: 1.5rem;
    }
  }
}

.content-banner {
  background: #f4f8fb;
  padding: 20px;
  border-left: 5px solid #1d70b8;
  width: 100%;
  box-sizing: border-box;

  &__content {
    max-width: 100%;
  }

  &__title {
    margin-bottom: 10px;
    margin-top: 0;
  }

  &__link {
    text-decoration: underline;
    color: #1d70b8;
    font-weight: 600;

    &:hover {
      color: #003078;
    }

    &:visited {
      color: #4c2c92;
    }
  }

  &__description {
    margin-bottom: 0;
    color: #0b0c0c;
    line-height: 1.6;
  }

  @media (max-width: 640px) {
    padding: 15px;
  }
}


.category-header {
  background-color: #d2e2f1;
  padding-top: 1px;
  padding-bottom: 1px;
}

.details-header {
  background-color: #f4f8fb;
  padding-top: 1px;
  padding-bottom: 1px;
}

// RFH Homepage Button
.no-margin {
  margin-bottom: 0;
}

.govuk-inset-text--thin {
  border-left-width: 6px;
}
