.provider {
  margin: 10px 0 0;
}

.expires {
  margin: 0;
}

.cta {
  margin-top: 20px;
}

.related-content {
  border-top: 2px solid #1d70b8;
  padding-top: 10px;
  margin-top: 10px;
}

.solution {
  border-bottom: 1px solid #b1b4b6;
  padding: 15px 0;
}

.all-buying-options-solution {
  border-bottom: 1px solid #b1b4b6;
  padding: 15px 0;
}

.results-count {
  color: #505a5f;
}

.section-title {
  color: #525c61;
  padding: 10px 0;
  font-size: 18px;
}

.dfe-header {
  color: #ffffff;
  background-color: #1d70b8;
  padding-bottom: 0px;
}


.all-buying-options-link-container {
  @media (max-width: 640px) {
    margin-left: 0px;
    padding-top: 2px;
    padding-bottom: 1px;
  }
}

a.all-buying-options-link {
  color: #ffffff;
}


.dfe-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 16px 0;
}


.all-buying-options-solution h4 {
  margin-bottom: 0;
}

.govuk-secondary-text-colour {
  color: #505a5f;
}
