.solution {
  border-bottom: 1px solid #b1b4b6;
  padding: 15px 0;
}

.results-count {
  color: #505a5f;
}

.section-title {
  color: #525c61;
  padding: 10px 0;
  font-size: 18px;
}

.dfe-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 16px 0;
}
