<%= render partial: "support/cases/components/case_header", locals: { current_case: @current_case } %>
<h1 class="govuk-heading-l"><%= I18n.t("support.case_evaluators.header.edit") %></h1>

<%= render "form" %>
