<div class="energy-banner govuk-grid-row govuk-!-margin-0 govuk-!-margin-bottom-8 govuk-!-margin-top-8">
  <div class="govuk-grid-column-one-half energy-banner__content">
    <p class="govuk-heading-m"><%= banner.title %></p>
    <p class="govuk-body energy-banner__description"><%= banner.description %></p>
    <%= fabs_govuk_link_to banner.call_to_action, banner.url, class: "govuk-button govuk-button--success energy-banner__call_to_action govuk-!-margin-top-1" %>
  </div>
  <% if banner.image.present? %>
    <div class="govuk-grid-column-one-half energy-banner__image" style="--bg-image: url('<%= banner.image.url %>')">
    </div>
  <% end %>
</div>
