<%= content_for :title, I18n.t("categories.header") %>
<%= link_to I18n.t("generic.button.back"), dashboard_path, class: "govuk-back-link" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render partial: "list_for_specs" %>
  </div>
</div>
