<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key"><%= step.title %></dt>
  <dd class="govuk-summary-list__value"><%= answer.response %></dd>
  <dd class="govuk-summary-list__actions"><%= link_to I18n.t("generic.button.change_answer"), edit_journey_step_path(@journey, step), class: "govuk-link" %></dd>
</div>
