<%= content_for :title, "#{I18n.t("energy.service_availability.heading")} - #{I18n.t('energy.service_name')}" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= I18n.t("energy.service_availability.heading") %></h1>
    <%= render ParagraphComponent.new(text: I18n.t("energy.service_availability.body", form_url: register_your_interest_form_url)) %>
  </div>
</div>
