<%= render partial: "support/cases/components/case_header",
  locals: { current_case: @current_case } %>
<h1 class="govuk-heading-l"><%= I18n.t("my_procurements.tasks.header") %></h1>

<br>

<%= govuk_task_list(id_prefix: "my_procurements_task") do |task_list|

  case @downloaded_handover_pack_status
  when :complete
    downloaded_status = govuk_tag(text: I18n.t("support.case.label.tasklist.status.complete"), colour: "green")
  when :in_progress
    downloaded_status = govuk_tag(text: I18n.t("support.case.label.tasklist.status.in_progress"))
  else
    downloaded_status = govuk_tag(text: I18n.t("support.case.label.tasklist.status.to_do"))
  end

  task_list.with_item(title: I18n.t("my_procurements.task_list.item.download_contract_handover_pack"), href: my_procurements_download_handover_pack_path(@current_case), status:  downloaded_status)

end %>