<div class="govuk-radios__item">
  <%= form.radio_button :gas_current_supplier, value, id: "g-supplier-#{value}", class: "govuk-radios__input" %>
  <%= form.label :gas_current_supplier, I18n.t("energy.current_contract.suppliers.#{supplier}"),
              value: value, class: "govuk-label govuk-radios__label", for: "g-supplier-#{value}" %>
</div>