name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - develop
env:
  CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
  GIT_BRANCH: ${{ github.head_ref }}
  GIT_COMMIT_SHA: ${{ github.sha }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - id: cache-docker
        uses: actions/cache@v2
        with:
          path: /tmp/docker-save
          key: docker-save-${{ hashFiles('Dockerfile', 'Gemfile.lock',
            'package-lock.json') }}
      - name: Load cached Docker image
        run: docker load -i /tmp/docker-save/snapshot.tar || true
        if: steps.cache-docker.outputs.cache-hit == 'true'
      - name: Build
        run: docker-compose -f docker-compose.yml -f docker-compose.test.yml -f docker-compose.ci.yml -p app build
      - name: Test
        run: docker-compose -f docker-compose.yml -f docker-compose.test.yml -f docker-compose.ci.yml run --rm app
      - name: Prepare Docker cache
        run: mkdir -p /tmp/docker-save && docker save app_test:latest -o
          /tmp/docker-save/snapshot.tar && ls -lh /tmp/docker-save
        if: always() && steps.cache-docker.outputs.cache-hit != 'true'
