<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "support/case_hub_migrations/forms/case_form",
               locals: { case_hub_migration_form: @case_hub_migration_form } %>
  </div>
</div>
