<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="govuk-notification-banner govuk-notification-banner--<%= name %>" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          <%= name.capitalize %>
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        </h3>
      </div>
    </div>
    <% end %>
  <% end %>
