<li id="navbar_notifications_icon" class="dfe-header__navigation-item">
  <%= link_to "Notifications", support_notifications_path, class: "dfe-header__navigation-link" %>
  <% if notifications_unread %>
    <span class="notification-unread-icon"></span>
  <% end %>
</li>
